@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  /* Hilangkan dekorasi visual */
  .print-clean {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    border: none !important;
  }

  /* Hilangkan padding/margin besar */
  section,
  .py-12, .my-12, .mt-12, .mb-12 {
    padding: 0 !important;
    margin: 0 !important;
  }

  /* Layout cetak A4 */
  html, body {
    width: 210mm;
    height: 297mm;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }
  /* Sembunyikan elemen tertentu saat cetak */
  .no-print {
    display: none !important;
  }
}